.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
bin
build
develop-eggs
downloads
eggs
fake-eggs
parts
dist
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
.cache
*.pyc
*.pyo
*.tmp*
__pycache__
dev_config
*.iml
.idea/
!/angular-admin-ui/
!/docker-compose.yml
!/.editorconfig
!/.gitignore
!/Dockerfile
!/README.md
/server/static/
