{% extends "admin/base-admin.html.j2" %}

{% block title %}
  <title>JIS::Admin::Control::DelayedTask::Search</title>
{% endblock %}

{% block payload %}
  <form class="form-horizontal" method="get">
    <div class="form-group">
      <label class="col-sm-2 control-label">Type</label>
      <div class="col-sm-4">
        <select name="task_type" class="form-control">
          <option {{ 'selected' if form_data ['task_type'] == 'GITLAB_MERGE_REQ' }}>GITLAB_MERGE_REQ</option>
          <option {{ 'selected' if form_data ['task_type'] == 'GITLAB_PUSH' }}> GITLAB_PUSH</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Group</label>
      <div class="col-sm-4">
        <input name="group" type="text" class="form-control" placeholder="group name" value="{{ form_data ['group'] or ''}}">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Job Name</label>
      <div class="col-sm-4">
        <input name="job_name" type="text" class="form-control" placeholder="job name" value="{{ form_data ['job_name'] or ''}}">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Branch</label>
      <div class="col-sm-4">
        <input name="branch" type="text" class="form-control" placeholder="branch" value="{{ form_data ['branch'] or ''}}">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Sha1</label>
      <div class="col-sm-4">
        <input name="sha1" type="text" class="form-control" placeholder="sha1" value="{{ form_data ['sha1'] or '' }}">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-4">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>
  </form>

  <h2>limit 150 rows</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>task_status</th>
        <th>task_type</th>
        <th>group</th>
        <th>job_name</th>
        <th>branch</th>
        <th>sha1</th>
        <th>counter_attempts</th>
        <th>gitlab_merge_comment_id</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for item in tasks %}
        <tr>
          <th>{{ item.id }}</th>
          <td>{{ item.task_status }}</td>
          <td>{{ item.task_type }}</td>
          <td>{{ item.group }}</td>
          <td>{{ item.job_name }}</td>
          <td>{{ item.branch }}</td>
          <td>{{ item.sha1 }}</td>
          <td>{{ item.counter_attempts }}</td>
          <td>{{ item.gitlab_merge_comment_id }}</td>
          <td>
              <a href="/admin/delayed_tasks/{{ item.id }}/edit"> Edit </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
