{% extends "base.html.j2" %}

{% block head %}
<base href="/admin">
{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{{ url('static', filename='css/bootstrap.min.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url('static', filename='css/admin.css') }}" />
{% endblock %}

{% block content %}
<app-root>Loading...</app-root>
<script type="text/javascript" src="{{ url('static', filename='angular_app/inline.bundle.js') }}"></script>
<script type="text/javascript" src="{{ url('static', filename='angular_app/polyfills.bundle.js') }}"></script>
<script type="text/javascript" src="{{ url('static', filename='angular_app/styles.bundle.js') }}"></script>
<script type="text/javascript" src="{{ url('static', filename='angular_app/vendor.bundle.js') }}"></script>
<script type="text/javascript" src="{{ url('static', filename='angular_app/main.bundle.js') }}"></script>
{% endblock %}
